@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500&display=swap');
*{
	margin:0px;
	padding:0px;
	box-sizing: border-box;
	font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 20px;
}

body{

    line-height: 1.7;
    color: gray;
    font-weight: 400;
    font-size: 1rem;
}
::selection {
    background: #000;
    color: #fff;
}

/* Css for navbar   */

nav{
    position: fixed;
	width: 100%;
	height: 75px;
	background-color: #ffffff;
	line-height: 75px;
	padding:0px 100px;
	position:fixed;
	z-index: 1;
}
nav .logo{
	font-size: 30px;
	font-weight: bold;
	letter-spacing: 1.5px; 
}
nav .logo p{
	float: left;
	color:#007bff;
}
nav ul{
	float: right;
}
nav ul li{
	display: inline-block;
	list-style: none;
}
nav ul li a{
	color:rgb(0, 0, 0);
	text-decoration: none;
	font-size: 18px;
	padding:0px 32px;
}
nav ul li a:hover{
	color: #007bff;
}
nav ul li .active{
	color: #007bff;
}



/* CSS pour section Hero */

.hero-image {
    background-image: url("img/hero_2.jpg");
    height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.hero-text{
  text-align: center;
  font-weight: bold; 
  color: white;
  text-transform: uppercase;
}

.hero-text p{

    font-weight: normal; 
    font-size: 22px;
    text-transform: none;
}

.hero-text button {
    border: none;

    text-transform: capitalize;
    padding: 10px 25px;
    color: rgb(255, 255, 255);
    text-align: center;
    cursor: pointer;
    margin-top: 10%;
    border-radius: 20px;
    background-color: #007bff;

}

.hero-text button:hover{

    background-color: black;
}

/* --------------------------CSS pour section About----------------------- */

.about{

 display: block;
 height: 100vh;
 position: relative;
 

}

.about-content {

    width: 100%;
    display: flex;
    flex-direction: row;
     justify-content: flex-end; 
    align-items: center;
    height: 100%;


}


.about-image{

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-text{

    width: 100%;

    padding-bottom: 2.5%;
    display: flex;
    flex-direction: column;

    justify-content: space-around; 


}
.about-text h1{
    margin-bottom: 1.5rem!important;
    font-size: 3.5rem;
    color: black !important;
  
  }
  



.about-title {
    text-align: center;
    /* padding-top: 8%; */
    position: absolute;

    top: 10%;
    right: 50%;

    transform: translate(50%, -50%);

}

.about-title p {

    font-size: 2em;
    font-weight: bold;
    color: #007bff;


}



.about-text ul{
    list-style: none;
    padding-top: 0.5em;



}

 .about-text ul li::before{
    content: "✓";
    color: rgb(134, 236, 134);
    font-weight: bold;
    display: inline-block; 
    /* width: 1em; */
    /* margin-left: 1em; */
    padding-right: 0.5em;
    padding-top: 0.5em;
} 


/* CSS pour section Feature */


.feature{

    display: block;
    height: 100vh;
    position: relative;
    
   
   }
   
   .feature-content {
   
       width: 100%;
       display: flex;
       flex-direction: row;
       /* justify-content: flex-end; */
       align-items: center;
       height: 100%;
   
   
   }
   
   
   .feature-image{

      position: relative;
   
       width: 100%;
       display: flex;
       justify-content: center;
       align-items: center;
   }
   
   .feature-text{
   
       width: 100%; 
       padding-bottom: 4.5%;
   
   }

   .feature-text .lead{

    /* font-size: 1.25rem; */
    font-weight: 300;
}
   


   .feature-text h1{
    color: #007bff;
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 1rem!important;
  
  }
  
   
   .feature-title {
       text-align: center;
       /* padding-top: 8%; */
       position: absolute;
   
       top: 20%;
       right: 50%;
       transform: translate(50%, -50%);

   }
   
   .feature-title p {
   
       font-size: 2em;
       font-weight: bold;
       color: #007bff;
       margin-bottom: 1rem;
   
   
   }

   .feature-title span {

    color: rgb(119, 117, 117);

   }

   .feature-text button{

    border: none;
    text-transform: capitalize;
    color: rgb(255, 255, 255);
    text-align: center;
    cursor: pointer;
    margin-top: 3%;
    background-color: #007bff;
    font-size: 16px;
    border-radius: 30px;
    padding: 10px 30px;


   }

   .feature-text button:hover{

    background-color: black;


   }

   .custom-direction{
    border-radius: 7px;
    position: absolute;
    right: 15%;
    top: 50%;
    background: #007bff;
   }


   .custom-direction a {
        padding: 10px 20px;
    display: inline-block;
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
}

   .icon-prev:before {
    content: "\2190";

}

.icon-next:before {
    content: "\2192";

}


/* --------------------------CSS pour section Our Team----------------------- */


.team{

    display: block;
    height: 100vh;
    position: relative;
    
   }


   .team-title {
    text-align: center;
    /* padding-top: 8%; */
    position: absolute;

    top: 0%;
    right: 50%;

    transform: translate(50%, -50%);

}

.team-title p {

     font-size: 2em;
    font-weight: bold;
    color: #007bff;


}


.team-container-image{

    display: flex;
    flex-direction: column-reverse;
    height: 100%;
    justify-content: center;
    align-items: center;
  

}

.image-column1{

  display: flex;
  flex-direction: row;
 
}

.image-column2{

    display: flex;
    flex-direction: row;
  
  }

  .img{

    padding-right: 10%;

    width: 255px;

    object-fit: cover;
    


  }
   
   

   
   
   






  
 






